@charset "utf-8";

// Set your brand colors
$amarelo-queimado: #c5a802;
$p-light:#f9e25e;
$p-dark:#937d00;
$lime: #CDDC39;
$brown: #505050;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;
$dark:#3a3a39;

// Update Bulma's global variables
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $amarelo-queimado;
$link: $p-dark;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;

// Update navbar
$navbar-height: 4rem;

// Update Modal
$modal-background-background-color: rgba($brown, .10);
$modal-content-width: 800px
