<template>
<section class="hero is-fullheight is-medium is-bold">

        <div class="hero-body">
          <div class="container">
            <div class="columns is-centered">
              <article class="card is-rounded has-text-centered">
                <div class="card-content">
                  <h1 class="title has-text-primary has-text-weight-bold">
                    BeerBlioteca
                  </h1>
                <div class="notification is-danger" v-if="authErrors.has('invalid_credentials')">
                    <p v-text="authErrors.get('invalid_credentials')"></p>
                </div>
                <form method="POST" v-on:submit.prevent="login">
                <div class="field">
                <p class="control has-icons-left has-icons-right">
                    <input class="input" type="email" placeholder="Email" required v-model="email">
                    <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                    </span>
                </p>
                </div>
                <div class="field">
                <p class="control has-icons-left">
                    <input class="input" type="password" placeholder="Senha" required v-model="password">
                    <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                    </span>
                </p>
                </div>
                  <p class="control">
                    <label class="checkbox">
                      <input type="checkbox" v-model="remember">
                      Lembrar-me
                    </label>
                  </p>
                  <p class="control">
                    <button class="button is-primary is-medium is-fullwidth" type="submit">
                      <i class="fa fa-user"></i> &nbsp; Entrar
                    </button>
                  </p>
                  </form>
                </div>

              </article>
            </div>
          </div>
    </div>
  </section>
</template>

<script>
    export default {
        data(){
            return {
                'email':'',
                'password':'',
                'remember':false,
            }
        },
        computed: {
            authErrors(){
                return this.$store.getters.authErrors;
            }
        },

        methods: {
            login: function () {
                const { email, password, remember } = this;
                this.$store.dispatch('authRequest', { email, password, remember })
                    .then(() => {
                        this.$router.push('/dashboard')
                    })
            }
        },

    }
</script>
