<template>
    <div>
        <section class="hero is-primary">
            <div class="hero-body">
                <div class="container has-text-centered">
                    <h1 class="title">
                        BeerBlioteca
                    </h1>
                    <h2 class="subtitle">
                        Saiba tudo sobre Cervejas
                    </h2>
                </div>
            </div>
        </section>
        <div class="hero">
            <div class="hero-body">
                <div class="columns is-centered container">
                    <div class="column is-half">
                        <search-beer />
                    </div>
                </div>
            </div>
        </div>
        <section>
            <list-table />
        </section>
    </div>
</template>
<script>
import listTable from './patials/listTable'
import searchBeer from './patials/searchBeer'
export default {
    components: {
        listTable,
        searchBeer
    }
}
</script>
