<template>
   <nav class="navbar" role="navigation" aria-label="main navigation">
       <div class="container">
           <div class="navbar-brand">
    <router-link to="/" class="navbar-item" href="#">
     <h1 class="has-text-weight-bold">BeerBlioteca</h1>
    </router-link>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">

    </div>

    <div class="navbar-end">
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          {{user.name}}
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item" href="#" @click.prevent="logout">Sair</a>
        </div>
      </div>
    </div>
  </div>
       </div>
</nav>
</template>



<script>
    export default {
        name: "NavbarComponent",
        data(){
            return {
            }
        },
        computed: {
            user(){
                return this.$store.getters.getProfile;
            }
        },
        methods: {
            logout: function () {
                this.$store.dispatch('authLogout')
                    .then(() => {
                        this.$router.push('/')
                    })
            }
        },
         created(){
             document.addEventListener('DOMContentLoaded', () => {

            // Get all "navbar-burger" elements
            const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

            // Check if there are any navbar burgers
            if ($navbarBurgers.length > 0) {

                // Add a click event on each of them
                $navbarBurgers.forEach( el => {
                el.addEventListener('click', () => {

                    // Get the target from the "data-target" attribute
                    const target = el.dataset.target;
                    const $target = document.getElementById(target);

                    // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                    el.classList.toggle('is-active');
                    $target.classList.toggle('is-active');
                });
                });
            }

            });
         }
    }
</script>
