<template>
    <div>
        <b-modal :active.sync="isComponentModalActive" has-modal-card full-screen :can-cancel="false">
            <modal-detail :detail="itemProps" v-if="itemProps !== null"></modal-detail>
        </b-modal>
        <div class="hero-body">

            <b-field grouped group-multiline>
                <div v-for="(column, index) in columnsVisible" :key="index" class="control is-flex">
                    <b-checkbox v-model="column.display">
                        {{ column.title }}
                    </b-checkbox>
                </div>
                <b-select v-model="perPage" @change.native="loadAsyncData()">
                    <option value="5">5 por página</option>
                    <option value="10">10 por página</option>
                    <option value="15">15 por página</option>
                    <option value="20">20 por página</option>
                </b-select>

            </b-field>


            <b-table :data="isEmpty ? [] : data" :loading="loading" backend-pagination pagination-simple paginated
                :total="total" :per-page="perPage" @page-change="onPageChange" aria-next-label="Next page"
                aria-previous-label="Previous page" aria-page-label="Page" aria-current-label="Current page"
                detail-key="name">

                <template slot-scope="props">
                    <b-table-column field="image_url" label="Foto" :visible="columnsVisible['image'].display"
                        :label="columnsVisible['image'].title">
                        <figure class="image">
                            <img style="max-width: 50px; max-height: 100px" :src="props.row.image_url" alt="">
                        </figure>
                    </b-table-column>
                    <b-table-column field="id" label="ID">
                        {{ props.row.id }}
                    </b-table-column>
                    <b-table-column field="name" label="Name">
                        {{ props.row.name }}
                    </b-table-column>

                    <b-table-column field="tagline" label="Tag Line">
                        {{ props.row.tagline }}
                    </b-table-column>

                    <b-table-column field="abv" label="ABV" numeric>
                        {{ props.row.abv }}
                    </b-table-column>
                    <b-table-column field="abv" label="IBU" numeric>
                        {{ props.row.ibu }}
                    </b-table-column>
                    <b-table-column field="date" label="Date" centered>
                        <span class="tag is-success">
                            {{ props.row.first_brewed }}
                        </span>
                    </b-table-column>

                    <b-table-column label="Ações">
                        <button @click="openModal(props.index)" type="button" class="button is-primary is-outlined">
                            Ver Mais</button>
                    </b-table-column>
                </template>
            </b-table>
        </div>
    </div>
</template>

<script>
    import ModalDetail from './modalDetail'
    export default {
        name: 'listTable',
        components:{
            ModalDetail
        },
        data() {
            return {
                isEmpty: false,
                total: 0,
                page: 1,
                perPage: 10,
                columnsVisible: {
                    image: { title: 'Mostrar Imagens', display: false },
                },
                isComponentModalActive: false,
                itemProps: null
            }
        },
        computed:{
            data() {
                return this.$store.getters.getBeers;
            },
            loading(){
                return this.$store.getters.getLoading
            }
        },
        methods: {
            openModal(item) {
                let obj = this.data[item];
                this.itemProps = Object.assign(obj)
                this.isComponentModalActive = true
            },
            /*
             * Load async data
             */
            loadAsyncData() {
                const params = [
                    `per_page=${this.perPage}`,
                    `page=${this.page}`
                ].join('&')
                this.$store.dispatch('beerRequest', params)
                    .then(() => {
                        this.total = 325
                    })
                    .catch((error) => {
                        this.total = 0
                        throw error
                    })
            },
            /*
             * Handle page-change event
             */
            onPageChange(page) {
                this.page = page
                this.loadAsyncData()
            },
        },
        filters: {
            /**
             * Filter to truncate string, accepts a length parameter
             */
            truncate(value, length) {
                return value.length > length
                    ? value.substr(0, length) + '...'
                    : value
            }
        },
        mounted() {
            this.loadAsyncData()
        }
    }
</script>
