<template>
            <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Detalhes da Cerveja: {{detail.id}}</p>
                <button class="delete " aria-label="close" @click="$parent.close()"></button>
            </header>
            <section class="modal-card-body container">
                <div class="title has-text-centered">{{detail.name}}</div>
                <div class="media">
                    <div class="media-left">
                        <figure class="image">
                            <img :src="detail.image_url" alt="Ilustração"
                                style="max-width: 100px; max-height: 200px">
                        </figure>
                    </div>
                    <div class="media-content">
                        <p class="title is-4">Descrição:</p>
                        <p class="subtitle is-6">{{detail.description}}</p>
                    </div>
                </div>
                <hr>
                <div class="tile">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th>Primeira Fabricação</th>
                                <td>{{detail.first_brewed}}</td>
                                <th>Tag Line</th>
                                <td>{{detail.tagline}}</td>

                            </tr>
                        </tbody>
                    </table>
                </div>
                <hr>
                <div class="tile">
                    <table class="table">
                        <thead>
                            <th>Abv</th>
                            <th>Ibu</th>
                            <th>Target_fg</th>
                            <th>Target_og</th>
                            <th>Ebc</th>
                            <th>Srm</th>
                            <th>PH</th>
                            <th>Nível de Atenuação</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{detail.abv ? detail.abv : 0}}</td>
                                <td>{{detail.ibu ? detail.ibu : 0}}</td>
                                <td>{{detail.target_fg ? detail.target_fg : 0}}</td>
                                <td>{{detail.target_og ? detail.target_og : 0}}</td>
                                <td>{{detail.ebc ? detail.ebc : 0}}</td>
                                <td>{{detail.srm ? detail.srm : 0}}</td>
                                <td>{{detail.ph ? detail.ph : 0}}</td>
                                <td>{{detail.attenuation_level ? detail.attenuation_level : 0}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br>
                <div class="tile">
                    <table class="table">
                        <thead>
                            <th colspan="2">
                                Volume
                            </th>
                            <th colspan="2">
                                Volume de Fervura
                            </th>
                        </thead>
                        <tbody>
                            <tr>
                                <th>Valor</th>
                                <td>{{detail.volume.value}}</td>
                                <th>Valor</th>
                                <td>{{detail.boil_volume.value}}</td>

                            </tr>
                            <tr>
                                <th>Unidade</th>
                                <td>{{detail.volume.unit}}</td>
                                <th>Unidade</th>
                                <td>{{detail.boil_volume.unit}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br>
                <div class="tile">
                    <table class="table">
                        <thead>
                            <th>Temperatura</th>
                            <th>Tipo</th>
                            <th>Duração</th>
                        </thead>
                        <tbody>
                            <tr v-for="item in detail.method.mash_temp">
                                <td>{{item.temp.value}}</td>
                                <td>{{item.temp.unit}}</td>
                                <td>{{item.duration ? item.duration : 0}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table">
                        <thead>
                            <th colspan="2">
                                Fermentação
                            </th>
                        </thead>
                        <tbody>
                            <tr>
                                <th>Valor</th>
                                <td>{{detail.method.fermentation.temp.value}}</td>
                            </tr>
                            <tr>
                                <th>Unidade</th>
                                <td>{{detail.method.fermentation.temp.unit}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <br>

                </div>
                <div class="tile">
                    <tr v-if="detail.method.twist != null">
                        <th>Torção</th>
                        <td colspan="3">{{detail.method.twist}}</td>
                    </tr>

                </div>
                <br>

                <p class="title has-text-centered">Ingredientes</p>

                <div class="tile">

                    <table class="table">
                        <caption>Malte</caption>
                        <thead>
                            <th>Nome</th>
                            <th>Quantidade</th>
                            <th>Unidade</th>
                        </thead>
                        <tbody>
                            <tr v-for="item in detail.ingredients.malt">
                                <td>{{item.name}}</td>
                                <td>{{item.amount.value}}</td>
                                <td>{{item.amount.unit}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tile">
                    <table class="table">
                        <caption>Lúpulo</caption>
                        <thead>
                            <th>Nome</th>
                            <th>Quantidade</th>
                            <th>Unidade</th>
                            <th>Adicionar</th>
                            <th>Atributo</th>
                        </thead>
                        <tbody>
                            <tr v-for="item in detail.ingredients.hops">
                                <td>{{item.name}}</td>
                                <td>{{item.amount.value}}</td>
                                <td>{{item.amount.unit}}</td>
                                <td>{{item.add}}</td>
                                <td>{{item.attribute}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <p><b>Fermento:</b> {{detail.ingredients.yeast}}</p>
                <hr>
                <div class="tile">
                    <ul>
                        <li>
                            <div class="title  has-text-centered">Emparelhamento de Alimentos</div>
                        </li>
                        <li v-for="item in detail.food_pairing">
                            {{item}}
                        </li>
                    </ul>
                </div>
                <hr>
                <div class="title  has-text-centered">
                    Dicas de Cervejeiros
                </div>
                <p>{{detail.brewers_tips}}</p>
                <br>
                <p>Contribuição: {{detail.contributed_by}}</p>
            </section>
            <footer class="modal-card-foot">
                <button class="button" @click="$parent.close()">Fechar</button>
            </footer>
        </div>
</template>
<script>
export default {
    name: 'ModalDetail',
    props:{
        detail:{}
    }
}
</script>
