<template>
    <div class="container">
        <nav class="pagination is-centered" role="navigation" aria-label="pagination">
            <a class="pagination-previous" @click="onClickPreviousPage" :disabled="isInFirstPage">Anterior
            </a>
            <a class="pagination-next" @click="onClickNextPage" :disabled="isInLastPage">Próxima</a>
            <ul class="pagination-list">
                <li>
                    <a class="pagination-link" aria-label="Goto page 1" @click="onClickFirstPage"
                        :disabled="isInFirstPage">
                        1
                    </a>
                </li>
                <li>
                    <span class="pagination-ellipsis">&hellip;</span>
                </li>
                <li v-for="page in pages" class="pagination-item">
                    <a class="pagination-link" @click="onClickPage(page.name)" :disabled="page.isDisabled"
                        :class="{ 'is-current': isPageActive(page.name) }">
                        {{ page.name }}
                    </a>
                </li>
                <li>
                    <span class="pagination-ellipsis">&hellip;</span>
                </li>
                <li><a class="pagination-link" @click="onClickLastPage" :disabled="isInLastPage">{{totalPages}}</a></li>
            </ul>
        </nav>
    </div>

</template>
<script>
export default {
 name: 'paginator',
    props: {
    maxVisibleButtons: {
      type: Number,
      required: false,
      default: 3
    },
    totalPages: {
      type: Number,
      required: true
    },
    total: {
      type: Number,
      required: true
    },
    perPage: {
      type: Number,
      required: true
    },
    currentPage: {
      type: Number,
      required: true
    },
  },
  computed: {
    startPage() {
      if (this.currentPage === 1) {
        return 1;
      }

      if (this.currentPage === this.totalPages) {
        return this.totalPages - this.maxVisibleButtons + 1;
      }

      return this.currentPage - 1;

    },
    endPage() {

      return Math.min(this.startPage + this.maxVisibleButtons - 1, this.totalPages);

    },
    pages() {
      const range = [];

      for (let i = this.startPage; i <= this.endPage; i+= 1 ) {
        range.push({
          name: i,
          isDisabled: i === this.currentPage
        });
      }

      return range;
    },
    isInFirstPage() {
      return this.currentPage === 1;
    },
    isInLastPage() {
      return this.currentPage === this.totalPages;
    },
  },
  methods: {
    onClickFirstPage() {
          this.$emit('pagechanged', 1);
    },
    onClickPreviousPage() {
        if (this.currentPage > 1) {
            this.$emit('pagechanged', this.currentPage - 1);
        }
    },
    onClickPage(page) {
      this.$emit('pagechanged', page);
    },
    onClickNextPage() {
        if (this.currentPage < this.totalPages) {
          this.$emit('pagechanged', this.currentPage + 1);
        }
    },
    onClickLastPage() {
      this.$emit('pagechanged', this.totalPages);
    },
    isPageActive(page) {
      return this.currentPage === page;
    },
  }
};
</script>

