<template>
    <section>
        <b-field label="Encontre uma Cerveja">
            <b-autocomplete
                size="is-large"
                :data="data"
                placeholder="e.g. Buzz"
                field="title"
                :loading="isFetching"
                @typing="getAsyncData"
                @select="openModal($event)">

                <template slot-scope="props">
                    <div class="media">
                        <div class="media-left">
                            <img width="16" :src="props.option.image_url">
                        </div>
                        <div class="media-content">
                            {{ props.option.name }}
                            <br>
                            <small>
                                Tag Line <b>{{ props.option.tagline }}</b>
                            </small>
                        </div>
                    </div>
                </template>
            </b-autocomplete>
        </b-field>
        <b-modal :active.sync="isComponentModalActive" has-modal-card full-screen :can-cancel="false">
            <modal-detail :detail="itemProps" v-if="itemProps !== null"></modal-detail>
        </b-modal>
    </section>

</template>

<script>
    import debounce from 'lodash/debounce'
    import ModalDetail from './modalDetail'
    export default {
        name:'searchBeer',
        components:{
            ModalDetail,
        },
        data() {
            return {
                data: [],
                selected: null,
                isFetching: false,
                isComponentModalActive:false,
                itemProps: null
            }
        },
        methods: {
            // You have to install and import debounce to use it,
            // it's not mandatory though.
            getAsyncData: debounce(function (name) {
                if (!name.length) {
                    this.data = []
                    return
                }
                this.isFetching = true
                axios.get(`/api/beers?beer_name=${name}`)
                    .then(({ data }) => {
                        this.data = []
                        data.forEach((item) => this.data.push(item))
                    })
                    .catch((error) => {
                        this.data = []
                        throw error
                    })
                    .finally(() => {
                        this.isFetching = false
                    })
            }, 500),
            openModal(item) {
                this.itemProps = item
                this.isComponentModalActive = true
            },
        },

    }
</script>
